body {
	margin: 0px;
	font-family: sans-serif;
    background:#3345
    /* background-image: url('../assets/starry_background.png'); */
}
 .game-container{
    padding-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  

}

#game {
   
    border: 2px solid rgb(1, 2, 26);
} 